// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');



// Bootstrap
// @import 'bootstrap/scss/bootstrap';

html{
    width: 100%;
    overflow-x: hidden;
}

#body{
    overflow-x: hidden;
    width: 100% !important;
    min-height: 100% !important;
    background-repeat: no-repeat !important;
    background-attachment:fixed !important;
    /* background-position: center !important; */
    background-size: cover !important;
}

#location {
    background-color: #212529;
    background-image: url('/assets/img/map-image.png');
    background-repeat: no-repeat;
    background-position: center;
}

#contact a:link{
    color:black;
}

#fixedbutton {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.title-large {
    font-size: clamp(24px, 6vh, 6vw);
    font-weight: bolder;
}

.title-xlarge {
    font-size: clamp(28px, 8vh, 7vw);
    font-weight: bolder;
}

.title-medium {
    font-size: clamp(20px, 4vh, 5vw);
    font-weight: bold;
}



.team-member:hover{
    transform: scale(1.05);
}

.team .team-member {
    background-color: white;
    margin-bottom: 3rem;
    text-align: center;
    height: 380px;
    transition: transform 0.3s ease;
}
  
.team .team-member .avatar {
    background-color: white;
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    // border: 0.3rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.team .team-member .avatar img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 讓圖片填滿容器並保持比例 */
    object-position: center bottom !important; /* 圖片在容器中居中 */
}

.member{
    text-align: center;
}

.member .avatar {
    background-color: white;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member .avatar img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:cover !important; /* 讓圖片填滿容器並保持比例 */
    object-position: center bottom !important; /* 圖片在容器中居中 */
}

.highlighting {
    padding: 0 2px;
    white-space: pre-line;
    border-radius: 2px;
    background-color: #fff068;
}


#joined .css-161f05s{
  margin: 0;
}

/* 設置容器的 perspective 來給 3D 效果 */
.card-container {
  perspective: 1000px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
}

/* 設置 card 的基本樣式 */
.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
}

/* 當卡片被翻轉時的效果 */
.card.flipped {
  transform: rotateY(180deg);
}

/* 設置正面卡片的樣式 */
.card-back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

/* 設置背面卡片的背景顏色 */
.card-back {
  transform: rotateY(180deg); /* 背面需要旋轉180度 */
}